.nav
	display block
	height 100%

	&__list
		display flex
		height 100%
		margin 0
		padding 0
		list-style none

	&__item
		display flex
		align-items center
		height 100%
		padding 0 16px
		color #ffffff
		cursor pointer
		user-select none
		transition all .1s ease

		&.router-link-active
			background rgba(255, 255, 255, .05)

		&:hover
			background rgba(255, 255, 255, .07)

	&__icon
		width 24px
		height 24px
		fill currentColor

	&__text
		margin-left 8px
