.calendar-wrapper{
  order: -1;
  background-color: rgb(33, 33, 33);  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin-top: 2em;
  border-radius: 10px;
}

.controls-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.left-button {
  clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}
.right-button {
  clip-path: polygon(0 0, 50% 50%, 0 100%, 0 50%);
}
.today-date{
  flex: 1;
  text-align: center;
}

.right-button,
.left-button {
  flex: 0 0 auto;
  padding: 10px 20px;
  background-color: #717171;
  border: none;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.right-button:hover,
.left-button:hover {
  background-color: #555;
  transform: scale(1.3);
}

.calendar-table {
  margin: 0.1em
  border-collapse: collapse;
  background-color: rgb(232, 64, 64);
}

td {
  padding: 10px;
  text-align: center;
  width: 20%;
  height: 5%;
}

td:not(.week-day) {
  opacity: 0.5; 
}

.current-day {
  font-weight: bold;
  text-decoration: underline;
}

.completed-day{
  background-color: rgb(82, 215, 82);

}
.failed-day{
  background-color: rgb(232, 64, 64);
  cursor: pointer;
}

tr {
  display: flex;
  flex-wrap: wrap;
}


.failed-day:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.completed-day:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.calendar-wrapper, .right-button, .left-button, .failed-day, .completed-day {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
