.page-settings
	display block

	&__text
		display inline-block
		height 32px
		margin-right 4px
		padding 4px 16px
		color #e0e0e0
		font-size 15px
		line-height 24px
		text-align center
		background #202020
		border none
		border-radius 4px
