.side-menu
	display block
	width 100%

	&__timer
		margin-bottom 8px
		padding 8px 4px
		background var(--secondary-background)
		border-radius 4px

	&__timer-text
		margin 0 2px 6px
		padding 4px
		font-size 28px
		font-weight 500
		text-align center
		background #303030
		border-radius 4px

	&__timer-controls
		display flex

		& ^[0]__button
			margin 0 3px

	&__button
		flex-grow 1

	&__settings
		background var(--secondary-background)
		border-radius 4px

	&__settings-title
		margin-bottom 8px
		padding 8px 4px
		color #ffffff
		font-size 18px
		text-align center
		border-bottom 1px solid #101010

	&__field
		display flex
		flex-direction row
		margin-bottom 8px
		padding 8px

	&__field-label
		width 60px
		color #F5F5F5
		font-size 16px
		line-height 26px

	&__field-content
		flex-grow 1
		margin-left 16px

	&__select-wrapper
		display flex
		align-items flex-end

		&:not(:last-child)
			margin-bottom 8px

	&__select
		width 100%

	&__select-text
		width 40px
		margin-left 8px

	&__settings-buttons
		display flex
